/* purgecss start ignore */
@layer base {

  .nav-closed {
    content: "";
  }

  .nav-closed::before {
    content:          "";
    background-image: url("https://blamejared.com/svg/cheveron-right.svg");
    display:          inline-block;
    width:            14px;
    height:           14px;
    margin-top:       auto;
    margin-bottom:    auto;
  }

  .nav-closed-dark {
    content: "";
  }

  .nav-closed-dark::before {
    content:          "";
    background-image: url("https://blamejared.com/svg/dark/cheveron-right.svg");
    display:          inline-block;
    width:            14px;
    height:           14px;
    margin-top:       auto;
    margin-bottom:    auto;
  }

  .nav-open {
    content: "";
  }

  .nav-open::before {
    content:          "";
    background-image: url("https://blamejared.com/svg/cheveron-down.svg");
    display:          inline-block;
    width:            14px;
    height:           14px;
    margin-top:       auto;
    margin-bottom:    auto;
  }

  .nav-open-dark {
    content: "";
  }

  .nav-open-dark::before {
    content:          "";
    background-image: url("https://blamejared.com/svg/dark/cheveron-down.svg");
    display:          inline-block;
    width:            14px;
    height:           14px;
    margin-top:       auto;
    margin-bottom:    auto;
  }

  .simplebar-scrollbar::before {
    background-color: #3DA6E4 !important;
    border:           1px solid #1A6996 !important;
  }

}

/* purgecss end ignore */